.side-panel-layout{
    display: grid;
    grid-template-columns: 350px auto;    
    .panel {
        // padding: 1rem;
        // background-color: var(--primary-light);
        position: relative;
    }

    .content {
        padding: 1rem;
    }
}