.kitchen {
    .delivery-info{
        padding: 0.5rem;
        margin-bottom: 0rem;
        border: 1px solid var(--shadow);
        display: grid;
        gap: 0.5rem;
        .store-delivery{
            font-weight: 300;
            display: grid;
            gap: 0.5rem;
            .store-messages{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
                margin-top: 0rem;
                border-bottom: 1px solid var(--shadow);
                border-top: 1px solid var(--shadow);
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                & > div{
                    // display: grid;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                }
                .prewrapped-messages{
                    strong{
                        display: block;
                    }
                    white-space: pre-wrap;
                }
            }
        }
        .people-messages {
            display: grid;
            gap: 1rem;
        }
        .footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .orders,
    .products{
        .product-info{
            display: grid;
            gap: 1rem;
            grid-template-columns: 250px auto;
            min-height: 150px;
            margin-top: 1rem;
            .image{
                background-size: cover;
                background-position: center;
                // border-radius: 0.4rem;
            }
            .product-details-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .product-details{
                    h2{
                        font-weight: 400;
                        color: var(--text-primary);
                        margin-bottom: 1rem;
                    }
                    p{
                        color: var(--text-primary);
                        font-weight: 300;
                    }
                }
            }
        }
    }
    .products{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }
    .orders{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        .grouped-order-item{
            display: grid;
            grid-template-columns: 250px auto;
            h1{
                font-weight: 300;
                font-size: 1.4rem;
            }
            .description {
                text-align: justify;
                color: var(--text-primary);
            }
            .image {
                margin: 1rem 0;
                min-height: 200px;
                background-position: center;
                background-size: cover;
            }
            .order-details {
                padding: 0.5rem 1rem;
                .title{
                    font-weight: 600;
                    display: block;
                    margin-bottom: 0.5rem;
                }
                & .title:not(:first-child){
                    margin-top: 1rem;
                }
                .table{
                    width: 100%;
                    .row.header{
                        font-size: 0.8rem;
                        div{
                            font-weight: bold;
                        }
                    }
                    .row.body{
                        margin-top: 0.5rem;
                    }
                    .row.total{
                        // margin-top: 1rem;
                        background-color: var(--shadow);
                    }
                    .row{
                        width: 100%;
                        font-size: 0.90rem;
                        display: grid;
                        padding: 0.25rem 0.5rem;
                        column-gap: 1rem;
                        grid-template-columns: 1fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr; // 2fr;
                    }
                    .numeric{
                        text-align: right;
                    }

                    .control{
                        padding: 0.25rem 0.5rem;
                        border: 1px solid var(--shadow);
                        cursor: pointer;
                        border-radius: 0.25rem;
                        margin-right: 0.25rem;
                        svg{
                            position: relative;
                            bottom: 1px;
                        }
                        &:hover{
                            &.danger{
                                background-color: var(--danger);
                            }
                        }
                    }
                }
            }
        }
        .order-item {
            padding: 1rem 1rem 1rem 1rem;
            background: var(--shadow);
            .grid-2{
                display: grid;
                grid-template-columns: 150px 300px;
            }
            .order-item-header{
                display: grid;
                gap: 0.5rem;
                h3{
                    font-weight: 300;
                }
                .datetime-info{
                    display: flex;
                    justify-content: space-between;

                    font-weight: 300;
                    font-size: 0.85rem;
                    color: var(--text-secondary);
                }
            }
            .status-info {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                border: 1px solid var(--shadow);
            }
        }
    }
}

.kitchen,
#app-portals{
    .flat-button{
        padding: 0.5rem 0.4rem;
        cursor: pointer;
        border: none;
        font-weight: 600;
        letter-spacing: 0.025rem;
        text-transform: uppercase;
        font-size: 0.70rem;
        background-color: white;
        color: var(--text-primary);
        min-width: 80px;
        transition: 0.3s ease;
        border: 1px solid var(--shadow);
        background-color: var(--shadow);
        &:hover{
            background: var(--primary-dark);
        }
        &.active{
            background-color: var(--primary-dark);
            color: white;
        }
        &.danger{
            background-color: var(--warning-dark);
            color: white;
        }
    }
    .form-controls{
        display: flex;
        justify-content: end;
    }
}

#app-portals{
    .product-form{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 1rem;
        gap: 2rem;
        & > div > span{
            margin-bottom: 0.5rem;
            display: block;
            &.error{
                color: var(--secondary-dark);
            }
        }
        .checkbox{
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            align-items: center;
            cursor: pointer;
            span{
                font-weight: 300;
            }
        }
        .quantity {
            font-weight: 300;
            display: grid;
            grid-template-columns: auto auto;
            gap: 1rem;
            div{
                display: grid;
                gap: 0.5rem;
            }
            select{
                padding: 0.5rem;
                width: 100%;
                border: 1px solid var(--shadow);
                cursor: pointer;
            }
        }
        .input {
            display: grid;
            grid-template-columns: auto;
            gap: 1rem;
            align-items: center;
            label{
                font-weight: 300;
            }
            input{
                border: 1px solid var(--shadow);
                padding: 0.5rem;
                width: 100%;
            }
        }
        textarea {
            font-family: inherit;
            border: 1px solid var(--shadow);
            padding: 0.5rem;
            line-height: 1.4rem;
            height: 200px;
            min-height: 200px;
        }
    }
}